<ion-header>
  <ion-toolbar>
    <ion-title>Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="div_row">
      <ion-icon name="person-add-outline"></ion-icon>
      <div class="div_info">
        <ion-label class="lbl_follow">Follow request</ion-label>
        <ion-label class="lbl_light">Approve or ignore requests</ion-label>
      </div>
    </div>

    <ion-label class="lbl_header">This week</ion-label>

    <div class="div_row">
      <img src="https://picsum.photos/100" class="img_logo">
      <div class="div_info">
        <ion-label class="lbl_follow">Name_name <span style="font-weight: normal;">and</span> name_name</ion-label>
        <ion-label class="lbl_light">started following you. 6 d</ion-label>
      </div>
    </div>

    <ion-label class="lbl_header">This Month</ion-label>

    <div class="div_row" style="justify-content: space-between;padding-bottom: 20px;">
      <div class="div_row" style="width: 70%;">
        <img src="https://picsum.photos/100" class="img_logo">
        <div class="div_info">
          <ion-label class="lbl_follow"><span style="font-weight: normal;">Your contact cute is on instagram as </span> name_name
          <span class="lbl_light">2 wd</span>
          </ion-label>
        </div>
      </div>
      <div style="width: 30%;">
        <ion-button class="btn_follow">Follow</ion-button>
      </div>
    </div>

    <div class="div_row" style="justify-content: space-between;padding-bottom: 20px;">
      <div class="div_row" style="width: 70%;">
        <img src="https://picsum.photos/100" class="img_logo">
        <div class="div_info">
          <ion-label class="lbl_follow"><span style="font-weight: normal;">Your contact cute is on instagram as </span> name_name
          <span class="lbl_light">2 wd</span>
          </ion-label>
        </div>
      </div>
      <div style="width: 30%;">
        <ion-button class="btn_follow">Follow</ion-button>
      </div>
    </div>

    <div class="div_row" style="justify-content: space-between;padding-bottom: 20px;">
      <div class="div_row" style="width: 70%;">
        <img src="https://picsum.photos/100" class="img_logo">
        <div class="div_info">
          <ion-label class="lbl_follow"><span style="font-weight: normal;">Your contact cute is on instagram as </span> name_name
          <span class="lbl_light">2 wd</span>
          </ion-label>
        </div>
      </div>
      <div style="width: 30%;">
        <ion-button class="btn_follow">Follow</ion-button>
      </div>
    </div>

  </div>
</ion-content>
