.img_logo{
    width: 120px;
}
.div_logo{
    padding: 20px;
    padding-bottom: 10px !important;
}
.icon_all{
    font-size: 30px;
    margin-right: 20px;
}
.content{
    padding: 20px 10px 10px;
    border-bottom: 1px solid rgba(112,112,112,0.2);
}
.cards{
    width: 100%;
    padding-top: 10px;
}